@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap');


h1{
    color:red;
    font-family: 'Rubik Pixels', cursive;
    
}

h2{
    color: #999;
    font-family: 'Courier New', Courier, monospace;
    
}